.test {
    display: flex;
    text-decoration: none;
    color: #FFE998;
}


.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48;
    display: block;
    font-size: 40px;
    padding-bottom: 10px;
}